body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(to right, #d8f1f3, #c2d1f4);
}

.login-container {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
    padding: 30px;
    text-align: center;
    max-width: 400px;
}

input {
    width: 100%;
    margin: 10px 0;
    padding: 12px;
    border: none;
    border-radius: 5px;
    background-color: #f5f5f5;
    box-shadow: inset 0px 2px 5px rgba(0, 0, 0, 0.1);
}

button {
    background-color: #007bff;
    color: #fff;
    padding: 12px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #0056b3;
}

.captcha-container {
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#captcha {
    background-color: #ddd;
    padding: 8px;
    border-radius: 5px;
    font-weight: bold;
    flex: 1;
}

#captchaInput {
    flex: 2;
    margin-left: 10px;
    padding: 12px;
    border: none;
    border-radius: 5px;
    background-color: #f5f5f5;
    box-shadow: inset 0px 2px 5px rgba(0, 0, 0, 0.1);
}
